<div class="text-center center-div pb-3" id="signup">
    <div class="container w-25 border py-1 collogin">
      <div class="title pb-4">
        <h2 class="font-weight-bold">Register Form</h2>
        <span>User Anda sudah di delete, silahkan register kembali!</span>
      </div>
      <form action="/route/signup" method="POST">
        <div class="form-group">
          <small class="form-text text-muted text-left">Input your email</small>
          <input type="email" class="form-control" placeholder="email" name="email" />
        </div>
        <div class="form-group">
          <small class="form-text text-muted text-left">Input your password</small>
          <input type="password" class="form-control" name="password" placeholder="password" />
        </div>
        <div class="form-group">
          <small class="form-text text-muted text-left">Input your username</small>
          <input type="text" class="form-control" name="username" placeholder="username" />
        </div>
        <div class="form-group">
          <small class="form-text text-muted text-left">Input your full name</small>
          <input type="text" class="form-control" name="name" placeholder="your name" />
        </div>
        <button type="submit" class="btn btn-success rounded-pill">Submit</button>
      </form>
    </div>
  </div>
  ;
  